@page
@using SampleDataLibrary.Data
@model NorthwindM.Pages.CategoriaModel
@{
}

<div class="row">
    <h1 class="display-2">Categoria</h1>
    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th>Nombre de la categoria</th>
                <th>Descripcion</th>
               
            </tr>
        </thead>
        <tbody>
            @if (Model.Categories is not null)
            {
                @foreach(Category categoria in Model.Categories)
                {
                    <tr>
                        <td>@categoria.CategoryName</td>                    
                        <td>@categoria.Description</td>                    
                       
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
